* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #fff;
    width: 1200px;
    margin: auto;
}

li{
    list-style: none;
    margin: 1rem;
}

a {
    text-decoration: none;
}

/* Utilities */

    .btn {
        text-decoration: none;
        color: #fff;
        background: #4ad493;
        border-radius: 10px;
        padding: 1rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

/* Navbar  */

#navbar .logo i {
    color: #4ad493;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #ccc solid;
    font-size: 19px;

}

#navbar ul {
    display: flex;
}

#navbar ul li a:hover{
    text-decoration:underline;
    color: #4ad493;
}


.surch input[type=text] {
    padding: 0.6rem;
    margin: 0;
    border: 1px #ccc solid;
    border-radius: 10px;
}

.surch input[type=text]:hover {
    background: #f4f4f4;
}

.surch button {
    padding: 0.6rem;
    margin: 0;
    border: 1px #f4f4f4 solid;
    border-radius: 10px;   
}

/* Mni nav */

#mini-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#mini-nav .ul:hover {
    text-decoration: underline;
    color: #4ad493;
}


/* cars grid */

#car-grid {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1rem;
}

#car-grid .card img  {
    width: 390px;
    height: 250px;
    border-radius:10px;
    cursor: pointer;
}

#car-grid .card h4:hover{
    text-decoration: underline;
    color: #4ad493;
    cursor: pointer;
}

/* About */

/* main */

#main {
    margin: 1rem;
    display: flex;
    flex-direction: row;
}

#main .container{
    margin:auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
    border-bottom: #f4f4f4 1px solid;
}

#main .container .about-card {
    width: 250px;
    height: 200px;
}

#main .container .about-card i {
    background-color: #4ad493;
    padding: 15px;
    border-radius: 10px;
}

.clr {
    clear: both;
}

/* About us  */

#main #main-aside li{
    cursor: pointer;
}

#about .container {
    width: 35vw;
    margin: auto;
    font-size: 21px; 
}

/* Sell */

.header {
    border-bottom:10px solid #ffe55f;
    text-align: center;
}

#main-sell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell-card {
    text-align: center;
    display: flex;
    align-items: center;
    width: 300px;
    height: 200px;
    margin-top:3rem;
    margin-left: 1rem;
    padding: 1rem;
    border: 3px solid #f4f4f4;
    border-radius: 10px;
    cursor: pointer;
}

#mid {
    font-size: larger;
    text-align: center;
    margin: 5rem;
}

#end {
    text-align: center;
    margin: 3rem;
}

/* footer */

#footer {
    text-align: center;
    border-top: #f4f4f4 1px solid;
    padding: 2rem;
}

/* mobile */

@media(max-width:768px){
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mini-nav {
        display: none;
    }

    #car-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        justify-content: center;
        align-items: center;
    }

    #car-grid .card {
        width: 100px;
    }
}